body {
    background: linear-gradient(135deg, #a08afe, #95c0ff);
}

.main {
    display: grid;
    position: absolute;
    margin-top: 5vh;
    margin-left: 20vw;
    border-radius: 5%;
    border: 5px solid rgb(137, 137, 239);
    width: 60vw;
    height: 40vh;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;
    color: #000080;
}

img {
    position: absolute;
    width: 5vw;
    height: 10vh;
    padding-left: 20px;
    top: 2vh;
    right: 2vw;
}

#two {
    left: 0vw;
}

.info {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    color: #000080;
}

input {
    text-align: center;
    margin-left: 20vw;
    width: 20vw;
    height: 5vh;
}

input [type=text] {
    text-align: center;
    font-size: 14px;
    color: #000080;
}

.submit {
    display: grid;
    width: 8vw;
    height: 4vh;
    border-radius: 200px;
    margin-left: 26vw;
    text-align: center;
    align-items: center;
    color: #000080;
    background-color: #0909ff5b;
    cursor: pointer;
}

.notes-container {
    position: absolute;
    top: 50vh;
    left: 32vw;
    display: grid;
    max-width: 60vw;

}

.input-box {
    position: relative;
    width: 35vw;
    min-height: 75px;
    max-height: 100px;
    max-width: 500px;
    background: #fff;
    color: #333;
    padding: 20px;
    margin: 20px 15px;
    outline: none;
    border-radius: 5px;
}

.input-box img {
    width: 25px;
    height: auto;
    position: absolute;
    bottom: 20px;
    right: 15px;
    cursor: pointer;
}